@font-face{
    font-family: "MyFont";
    src: 
         url("./Audiowide-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --blue1: #000957;
--blue2:#344CB7;
--blue3:#577BC1;
--yellow:#FFEB00;
--black:#333;
--white:#eee;

}


body {
    overflow-x: hidden;
    background-color: var(--white);
    font-family: 'MyFont', sans-serif;  
}
h1{
    text-align: center;
    color: var(--black);
}

.toggle{
    padding-top: 15px;
    padding-bottom: 15px;

}
#sidebar{
    background-color: var(--blue1) !important;
}
.navigation h1{
    color:var(--yellow) !important;
    text-align: center;
    margin-bottom: 20px;
}
#sidebarToggle{
    background-color: var(--blue1) !important;
    color: var(--white) !important;
    margin-left: 36px;
}
    

/* Add this CSS to your existing styles */
.navigation {
    width: 100%;
    height: 100%;
    background: var(--blue1);
    border-left: 10px solid --blue1;
    transition: 0.5s;
    overflow-y: auto; /* Add vertical scroll if needed */
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation ul li {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 8px; /* Add some spacing between items */
    
}

.navigation ul li a {
    display: flex;
    text-decoration: none;
    color: var(--white);
    padding: 8px;
}

.navigation ul li a .icon {
    min-width: 60px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5rem;
}

.navigation ul li a .title {
    flex-grow: 1;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold; 
}

.navigation ul li  :hover
 {
    background-color: var(--white);
    color:  var(--blue1);   
    border-radius: 30px;

}
.navigation ul li .active {
    background-color: var(--white);
    color: var(--blue1);
    border-radius: 30px;
}




/*Style for tables*/

 .table-fixed-height {
    max-height: 420px;  /* adjust as needed */
    overflow-y: auto;
    overflow-x: auto; 
    min-width: 400px; /* adjust as needed */
    border-radius: 16px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds a subtle shadow for better visibility */
 
    }



    /* Ensure all rows & columns have borders */
    .table-bordered th, 
    .table-bordered td {
      border-right: 1px solid #f0f0f3 !important;
    }

    /* Remove border on the last column */
    .table-bordered th:last-child, 
    .table-bordered td:last-child {
    border-right: none !important;
    
    }
    th {
      background-color: var(--blue1) !important;
      position: sticky;
      top:0;
      margin-bottom: 10px;
      z-index: 2;         
      color: #FFEB00 !important;
    }


    



/*For the next Botton:*/
button.next{
  display: flex;
  align-items: center;   /* vertically center text + icon */
  gap: 0.5rem;
  background-color: var(--blue1);
  font-size: 1.2em;
  font-weight: bold;
  color: var(--yellow);
  padding: 12px;
  border-radius: 30px;
  margin-top: 12px;
    
}
button.next:hover {
  background-color: var(--blue2);
  cursor: pointer;
}
button.next .icon {
  width: 1.7em;            /* make icon scale like text */
  height: 1.7em;
}


/* Media queries and responsive styles */
@media (max-width: 768px) {
    #sidebar {
        width: 50%; /* Change the width to 50% */
        left: 0; /* Initially hidden */
    }

    #sidebar.active {
        left: -100%;
    }

    #content {
        transition: all 0.3s;
        margin-left: 0;
        padding: 15px;
        width: 100%; /* Takes up full width initially */
    }

    #content.active {
        margin-left: 50%; /* Moves content area to the right when sidebar is active */
        width: 50%; /* Adjusts width when sidebar is active */
    }

    #content.active + #sidebar:not(.active) {
        width: 100%; /* Reset content width to 100% when sidebar is not active */
        margin-left: 0; /* Reset margin when sidebar is not active */
    }
}

    







/* CSS to set a fixed width and height for the images */
    .product-image {
        width: 100px; /* Adjust the width as needed */
        height: 100px; /* Adjust the height as needed */
    }