@font-face{
    font-family: "MyFont";
    src: 
         url("./Audiowide-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --blue1: #000957;
--blue2:#344CB7;
--blue3:#577BC1;
--yellow:#FFEB00;
--black:#333;
--white:#eee;

}


body {
    overflow-x: hidden;
    background-color: var(--white);
    font-family: 'MyFont', sans-serif;  
}
h1{
    text-align: center;
    color: var(--black);
}


.toggle{
    padding-top: 15px;
    padding-bottom: 15px;

}
#sidebar{
    background-color: var(--blue1) !important;
}
.navigation h1{
    color:var(--yellow) !important;
    text-align: center;
    margin-bottom: 20px;
}
#sidebarToggle{
    background-color: var(--blue1) !important;
    color: var(--white) !important;
    margin-left: 12px;
}
    

/* Add this CSS to your existing styles */
.navigation {
    width: 100%;
    height: 100%;
    background: var(--blue1);
    border-left: 10px solid --blue1;
    transition: 0.5s;
    overflow-y: auto; /* Add vertical scroll if needed */
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation ul li {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 8px; /* Add some spacing between items */
    
}

.navigation ul li a {
    display: flex;
    text-decoration: none;
    color: var(--white);
    padding: 8px;
}

.navigation ul li a .icon {
    min-width: 60px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5rem;
}

.navigation ul li a .title {
    flex-grow: 1;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold; 
}

.navigation ul li  :hover
 {
    background-color: var(--white);
    color:  var(--blue1);   
    border-radius: 30px;

}
.navigation ul li .active {
    background-color: var(--white);
    color: var(--blue1);
    border-radius: 30px;
}
/* Media queries and responsive styles */
@media (max-width: 768px) {
    #sidebar {
        width: 50%; /* Change the width to 50% */
        left: 0; /* Initially hidden */
    }

    #sidebar.active {
        left: -100%;
    }

    #content {
        transition: all 0.3s;
        margin-left: 0;
        padding: 15px;
        width: 100%; /* Takes up full width initially */
    }

    #content.active {
        margin-left: 50%; /* Moves content area to the right when sidebar is active */
        width: 50%; /* Adjusts width when sidebar is active */
    }

    #content.active + #sidebar:not(.active) {
        width: 100%; /* Reset content width to 100% when sidebar is not active */
        margin-left: 0; /* Reset margin when sidebar is not active */
    }
}

    